*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
!/parking-meter-frontend/target/
!/parking-meter-backend/target/
!/parking-meter-backend/target/
!/parking-meter-frontend/
!/FULL-2019-10-17_19-40/
